@media only screen and (max-width: 768px) {
    .container{
        float: none;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        display: grid;
        width: 100%;
        height: 1vh;
    }
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    height: 90vh;
}

.container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    font-family: 'Courier New', Courier, monospace;
}

.left-container{
    display: grid;
    justify-items: center;
}



.left-container .col img{
    width: 300px;
    height: 300px;
    align-items: center;
}

.left-container h1{
    color: maroon;
    font-size: 50px;
}

.left-container h2{
    font-weight: 400;
    font-size: 23px;
    margin-top: 0px;
}

.right-container{
    box-shadow: 0 1px 20px;
    display: grid;
    justify-self: center;
    width: 400px;
    border-radius: 20px;
    justify-content: center;
    height: 450px;
}

.right-container h1{
    margin-bottom: 40px;
    text-align: center;
    color: maroon;
    margin-top: 10px;
    font-size: 40px;
    
}

.right-container input{
    border-radius: 20px;
    border: 1px solid;
    width: 250px;
    display: grid;
    margin-bottom: 10px;
}


.right-container input::placeholder{
    padding-left: 10px;
}






#togglePassword:hover {
    color: rgb(138, 32, 32); 
}

.login-button button{
    border-radius: 20px;
    border: 1px solid;
    height: 40px;
    width: 80px;
}

.right-container .login-button{
    text-align: right;
}

.login-button button:hover{
    background-color: maroon;
    color: white;
}


.right-container input:hover{
    padding-left: 5px;
}

.right-container a{
    text-decoration: none;
    color: black;
}
