@media only screen and (max-width: 768px) {
    body{
        float: inline-start;
    }
    
    body header .header-content{
        text-align: center;
        height: 80vh;
    }

    .header-content #logo h1{
        font-size: 30px;
    }

    .header-content #logo h2{
        font-size: 15px;
    }

    .header-content {
        margin-left: 40px;
    }
    .header-content img{
        display: flex;
        width: 200px;
    }

    article{
        width: 100%;
        box-sizing: border-box; 
        padding: 20px; 
    }
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4f4f4;
    align-items: center;
    justify-content: center;
    height: 90vh;
    flex-direction: row;
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

.header-content img{
    margin-bottom: 60px;
    margin-top: 0;
}

#logo h1 {
    color: maroon;
    font-size: 50px;
    margin: 0; 

}

#logo h2 {
    font-size: 20px;
    margin: 0; 
}

header img {
    width: 260px;
    border-radius: 100%;
    display: block; 
    margin: 0 auto; 
}

main{
    flex-direction: row;
    align-items: end;
    justify-content: end;
    margin-left: 200px;
    
}

#login {
    box-shadow: 0 0px 20px;
    border-radius: 20px;
    width: 500px;
    height: 400px;
    display: inline-flex;
    flex-direction: column;

}

#login h1 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 50px;
    margin-top: 10px;
    color: maroon;
}

#login input {
    width: 270px;
    height: 20px;
    display: flex;
}

#login input,
#login label,
#login button {
    margin-left: 110px;
}

#login button {
    margin-left: 290px;
    width: 100px;
    height: 30px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    align-items: end;
    justify-content: end;
    margin-top: 20px;
}

#login label {
    margin-top: 20px;
}

#login a {
    text-align: center;
    margin-right: 150px;
    margin-top: 20px;
}

.password-container {
    position: relative;
    width: fit-content;
}

.show-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.show-password i {
    color: #555;
}