@media only screen and (max-width: 768px) {

    body,
    header,
    nav {
        float: none;
        text-align: center;
        width: 100%;
    }
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    box-shadow: 0 1px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

header h1 {
    margin-top: 17px;
    font-size: 40px;
    height: 30px;
    text-align: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    display: grid;
    justify-content: right;
    margin-right: 5px;
    background: lightgray;
    box-shadow: 0px 0px 7px;
    width: 50px;
    border-radius: 1000px;
    height: 50px;
    text-align: center;
    align-items: center;
    font-size: 12px;
}



.container {
    display: grid;
    text-align: center;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

th {
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
}

.search-bar {
    text-align: left;
}

.search-bar input {
    width: 30%;
}


tbody button:hover{
    background-color: maroon;
    color: white;
}

tbody button{
    border-radius: 10px;
    width: 50px;
    border: 1px solid;
}